@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-black";
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
    content: "";
    display: table;

    clear: both;
}

body {
  padding: 0;
  margin: 0;
}

body > input {
  display: none;
}

.wrapper {
    background-color: #849d8f;
    background-image: url(../img/background-slide-1.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px 0 27px;
}

.top-header {
  min-height: 63px;
  padding-top: 9px;

  clear: both;
}

.top-header__logo {
  float: left;
}

.main-menu {
  float: left;

  width: 406px;
  margin: 0;
  padding: 21px 0 0 10px;

  font-size: 0;
  list-style: none;
}

.main-menu__item {
  position: relative;

  display: inline-block;
  vertical-align: top;
  padding: 0 0 20px 0;

  list-style: none;

  border-radius: 16px;
}

.main-menu__link  {
  position: relative;

  padding: 7px 13px 7px 14px;

  font-family: "Roboto-bold";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  /* Нужно исправить, не проходит на can i use */
  text-decoration: underline rgba(255, 255, 255, 0.3);
}

.main-menu__link:hover {
  color: #333333;

  background-color: rgb(247, 246, 243);
  border-radius: 16px;
}

.main-menu__link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.main-menu__submenu-btn:hover .submenu-btn__submenu {
  display: block;
}

.submenu-btn__submenu {
  position: absolute;
  top: 30px;
  left: -6px;

  display: none;
  min-width: 143px;
  min-height: 171px;
  margin: 0;
  padding: 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.submenu__item {
  width: 100%;
  margin: 0;
  padding: 0;
}

.submenu__link {
  display: block;
  padding-left: 20px;
  padding-bottom: 8px;

  font-family: "Roboto-regular";
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.submenu__link:hover {
  background-color: #fbded7;
}

.submenu__link:active {
  background-color: #f6b5a5;
}

.submenu__link--bold {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 19px;

  font-family: "Roboto-bold";
}

.submenu__link--bold::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 6px;

  min-width: 128px;
  height: 1px;

  background-color: rgba(0,0,0,0.2);
}

.submenu__link--bold:hover {
  border-radius: 5px 5px 0 0;
}

.submenu__link_second {
  padding-top: 12px;
}

.submenu__link_third,
.submenu__link_fourth,
.submenu__link_fifth {
  padding-top: 7px;
}

.submenu__link_fifth {
  padding-bottom: 12px;
}

.submenu__link_fifth:hover {
  border-radius: 0 0 5px 5px;
}

.user-panel {
  float: right;

  width: 267px;
  padding: 14px 0 0 0;
}

.user-panel__item {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 10px 0;
}

.user-search {
  position: relative;

  margin-right: 6px;
  padding-left: 5px;
}

.user-search__search-link:hover .user-search__search-form{
  display: block;
}

.user-search__search-link {
  display: block;
  padding: 16px;

  font-size: 0;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/user-panel-search.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.user-search__search-link:hover {
  background-color: rgb(248, 247, 244);
  background-image: url("../img/user-panel-search-hover.png");
  background-repeat: no-repeat;
  background-position: center;
}

.user-search__search-form {
  position: absolute;
  top: 36px;
  right: 0px;

  display: none;
  padding: 20px 15px 20px 15px;

  font-size: 0;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-search:hover .user-search__search-form {
  display: block;
}

.user-search__search-field {
  padding: 13px 135px 13px 14px;

  font-family: "Roboto-regular";
  font-size: 14px;
  line-height: 16px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-login {
  position: relative;

  margin-right: 4px;
}

.user-login__link-enter {
  position: relative;

  display: block;
  padding: 8px 18px 8px 44px;

  font-family: "Roboto-medium";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/user-panel-login.png");
  background-repeat: no-repeat;
  background-position: 17px;
  border-radius: 16px;
}

.user-login__link-enter:hover {
  color: #323232;

  background-color: rgb(248, 247, 244);
  background-image: url("../img/user-panel-login-hover.png");
  background-repeat: no-repeat;
  background-position: 16px;
}

.user-login__login-form {
  position: absolute;
  top: 36px;
  right: -3px;

  display: none;
  width: 241px;
  height: 174px;
  padding: 20px 17px 20px 19px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-login__email-field,
.user-login__password-field {
  width: 225px;
  height: 16px;
  margin-bottom: 20px;
  padding: 13px 0 13px 12px;

  font-family: "Roboto-regular";
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-login__enter-button {
  float: left;

  width: 100px;
  height: 44px;
  margin-right: 19px;
  padding-top: 4px;
  padding-left: 25;

  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;

  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
  border-radius: 20px;
  border: none;

}

.user-login__link--bottom {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-bottom: 3px;
  padding-top: 4px;

  font-family: "Roboto-regular";
  font-size: 13px;
  line-height: 14px;
  color: #323232;
  text-decoration: none;
}

.user-login__link--bottom::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 2px;

  width: 100%;
  height: 1px;

  background-color: #adacaa;
}

.user-login:hover .user-login__login-form {
  display: block;
}

.user-basket__link {
  display: block;
  padding: 8px 34px 8px 45px;

  font-family: "Roboto-medium";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/user-panel-basket.png");
  background-repeat: no-repeat;
  background-position: 17px;
  border-radius: 16px;
}

.user-basket__link:hover {
  color: #323232;

  background-color: rgb(248, 247, 244);
  background-image: url("../img/user-panel-basket-hover.png");
  background-repeat: no-repeat;
  background-position: 16px;
}

.bottom-header {
  min-height: 45px;
  margin: 0;
  padding: 0;
}

.open-time {
  float: right;

  text-align: right;
}

.open-time__work-time {
  display: block;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  padding-top: 1px;

  font-family: "Roboto-bold";
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.open-time__telephone-number {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "Roboto-bold";
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.slider {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.slider__item {
  display: none;
  margin: 0 auto;
  padding: 0;

  text-align: center;
}

.slide-title {
  width: 670px;
  margin: 0;
  margin-bottom: 39px;
  padding: 275px 0 0 238px;

  font-family: "Roboto-bold";
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
}

.btn {
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}


.btn:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(#f26843, #e74a35);
}

.btn:active {
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(#f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0px rgb(148, 39, 24);
}

.btn-on-slide {
  margin: 0 auto;
  margin-bottom: 41px;
  padding: 11px 41px 14px 41px;

  font-family: "Roboto-bold";
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 32px;
}

.slider-control {
  position: relative;
  bottom: 34px;

  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
}

.slider-control__btn-slider {
  float: left;

  display: block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

#slide-1:checked ~ .wrapper label[for="slide-1"],
#slide-2:checked ~ .wrapper label[for="slide-2"],
#slide-3:checked ~ .wrapper label[for="slide-3"] {
  background-color: rgb(255,255,255);
}

#slide-1:hover ~ .wrapper label[for="slide-1"],
#slide-2:hover ~ .wrapper label[for="slide-2"],
#slide-3:hover ~ .wrapper label[for="slide-3"] {
  background-color: rgba(255,255,255, 0.4);
}

#slide-1:checked ~ .wrapper .slider__item--first-slide,
#slide-2:checked ~ .wrapper .slider__item--second-slide,
#slide-3:checked ~ .wrapper .slider__item--third-slide {
  display: block;
}

#slide-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url(../img/background-slide-1.png);
}

#slide-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url(../img/background-slide-2.png);
}

#slide-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url(../img/background-slide-3.png);
}

.banner {
  position: relative;

  display: inline-block;
  width: 520px;
  min-height: 192px;
  margin-bottom: 31px;
  padding: 16px 21px 21px 19px;

  border-radius: 15px;
}

.banner-raspberries {
  float: left;

  color: #ffffff;

  background-image: url(../img/banner-raspberries-background.jpg);
  background-position: 22% 52%;
}

.banner__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-family: "Roboto-bold";
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.banner__description {
  margin: 0;
  padding: 0;

  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.banner .btn {
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.btn__banner {
  position: absolute;
  right: 21px;
  bottom: 23px;

  padding: 11px 23px 11px 22px;

  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;

  border-radius: 23px;
}

.btn-chocolate {
  right: 21px;
  bottom: 24px;

  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 21px;
  padding-right: 21px;
}

.banner-chocolate {
  float: right;

  color: #ffffff;

  background-image: url(../img/banner-chocolate-background.jpg);
  background-position: 22% 53%;
}

.banner-chocolate .banner__title {
  margin-bottom: 14px;
}

.goods-item {
  position: relative;
  z-index: 2;

  display: inline-block;
  vertical-align: top;
  width: 267px;
  height: 362px;
  margin: 0;
  margin-right: 22px;
  margin-bottom: -50px;
  padding: 0;
  padding: 9px 0 50px 0;

  text-align: center;

}

.goods-item:hover {
  background-color: rgba(50, 50, 50, 0.2);
  border-radius: 6px;
}

.goods-item:hover > .btn-goods-item {
  display: inline-block;
}

.goods-item:last-child {
  margin-right: 0;
}

.hit-pic {
  position: absolute;
  top: 9px;
  left: 0;

  margin: 0;
  padding: 0;
}

.goods-item-pic {
  margin-bottom: 9px;
}

.price {
  position: absolute;
  top: 173px;
  left: 0;

  font-family: "Roboto-bold";
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.symbol-rub {
  margin: 0;
  margin-right: 2px;
  padding: 0;
  padding-left: 2px;

  font-size: 43px;
}

.symbol-kg {
  font-size: 30px;
  line-height: 45px;
}

.goods-item-description {
  display: block;
  width: 252px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 8px;

  font-family: "Roboto-medium";
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  /* Нужно исправить, не проходит на can i use */
  text-decoration: underline rgba(255, 255, 255, 0.3);

}

.btn-goods-item {
  display: none;
  width: 193px;
  padding: 13px 13px 12px 14px;

  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;

  border-radius: 23px;
}

.seo {

  width: 1125px;
  min-height: 258px;
  margin: 0;
  margin-bottom: 40px;
  padding: 24px 0 2px 21px;

  font-size: 0;

  background-image: url(../img/seo-background.jpg);
  background-position: 11.5% 46%;
  border-radius: 15px;
}

.seo__title {
  width: 1000px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-family: "Roboto-medium";
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.seo__description {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 482px;
  margin: 0;
  margin-right: 27px;
  margin-bottom: 22px;
  padding: 0;
  padding-left: 56px;

  font-family: "Roboto-regular";
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.seo__description::before {
  content: "";
  position: absolute;
  top: -13px;
  left: -1px;

  display: block;
  width: 49px;
  height: 49px;

  background-repeat: no-repeat;
  background-position: center;
}

.description--ice-cream::before {
  background-image: url("../img/seo-ice-cream-symbol.png");
}

.description--cow::before {
  background-image: url("../img/seo-cow-symbol.png");
}

.description--leaf::before {
  background-image: url("../img/seo-leaf-symbol.png");
}

.description--thermometer::before {
  background-image: url("../img/seo-thermometer-symbol.png");
}

.seo__description:nth-child(odd) {
  margin-right: 0;
  padding-left: 57px
}

.info-block {

  margin: 0;
  padding: 0;
}

.news-blog {
  float: left;
  width: 540px;
  min-height: 196px;
  margin: 0;
  margin-right: 22px;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 24px;
  padding-left: 20px;

  background-image: url("../img/news-blog-background.jpg");
  background-repeat: no-repeat;
  background-position: 17% 39.3%;
  border-radius: 16px;
}

.news-blog__title {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  font-family: "Roboto-medium";
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #323232;
}

.news-blog__description {
  display: block;
  width: 285px;
  margin: 0;
  padding: 0;

  font-family: "Roboto-bold";
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.description_number {
  margin: 0;
  padding: 0;

}

.border-dispatch {
  float: right;
  width: 549px;
  min-height: 210px;
  margin: 0;
  padding: 5px 5px 5px 6px;

  background-image: url("../img/dispatch-background.png");
  background-position: 28px;
  background-color: #f8f7f4;
  border-radius: 16px;
}

.dispatch {
  width: 528px;
  min-height: 181px;
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-left: 21px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.dispatch__description {
  width: 506px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  font-family: "Roboto-regular";
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.dispatch__email-field {
  width: 352px;
  height: 42px;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  padding-left: 13px;

  font-family: "Roboto-regular";
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.dispatch-send-btn {
  padding: 9px 18px 11px 19px;

  font-family: "Roboto-bold";
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;

  border: none;
  border-radius: 22px;


}




.map {
  display: block;
  width: 100%;
}

.map-modal {
  display: none;
}

.feedback-modal {
  display: none;
}
